* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter;
  padding: 0;
}
body {
  background-color: #f1f1f1;
}
main {
  padding: 4rem 10rem;
}
button:hover {
  cursor: pointer;
}
nav.search,
nav.shopifyNav,
nav .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.shopifyNav {
  padding: 14px 18px;
  /* background: #1a1a1a; */
  background-color: #1c181d;
  width: 100%;
}
nav .search {
  padding: 8px;
  background: #303030;
  border-radius: 10px;
  border: 1px solid #616161;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: inline-flex;
}
nav .search .img {
}
nav .search input {
  width: 30vw;
  background: transparent;
  outline: none;
  border: none;
  /* background: #B5B5B5" */
  color: #ddd;
}
nav .search input::placeholder {
  color: #b5b5b5;
  font-size: 13.5px;
  font-weight: 500;
  word-wrap: break-word;
}
nav .profile > div:last-child {
  background: #303030;
  border-radius: 8px;
  color: #e3e3e3;
  padding: 10px 5px 11px 8px;
  height: 100%;
  font-size: 0.85rem;
}
nav .profile div:last-child > span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 5px;
  padding: 7px 5px;
  font-family: Inter;
  background: #36fba1;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
}
nav .profile {
  gap: 10px;
}
nav .profile .bell {
  display: inline-flex;
  background: #303030;
  border-radius: 8px;
}

nav .profile .bell img {
  color: #e3e3e3;
  padding: 8px;
}
.toast {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 10px;
  background: #1a1a1a;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  margin-bottom: 2rem;
}
.toast .toastWrapper {
  color: #e3e3e3;
  font-size: 13px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.2px;
  word-wrap: break-word;
}
.toast .toastBtn {
  padding: 7px 13px;
  background: white;
  box-shadow: 0px -1px 0px #b5b5b5 inset;
  border-radius: 6px;
  overflow: hidden;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
}
.toast .close {
  padding: 6px;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}
.setup {
  height: 100%;
  width: 100%;
}
.setupWrapper {
  padding: 1rem;
  background: white;
  width: 100%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  border: 1px #dbdbdb solid;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  color: #303030;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.setupWrapper h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.9;
}
.setupWrapper p {
  font-size: 13px;
}
.range {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
  display: inline-flex;
}
.range p {
  font-size: 12px;
}
.range .progressBar {
  width: 72px;
  height: 4px;
  position: relative;
  background: #e3e3e3;
  border-radius: 28px;
  overflow: hidden;
}
.range .progressBar > div {
  width: 18px;
  height: 4px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #1a1a1a;
}
.setup button {
  border-radius: 8px;
  outline: none;
  border: none;
  width: fit-content;
  margin-right: 0.5rem;
  padding: 3px 3px 1px 2px;
  background: none;
  transition: all 200mx ease-in-out;
}
.setup button:hover {
  background-color: #f7f7f7;
}
.setup button img {
  object-fit: contain;
  width: 1.5rem;
}
